{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
  

{% block content %}
{% load crispy_forms_tags %}

<form action="" method="post" autocomplete="off">
    {% csrf_token %}
<div class="container">
    
    <div class="row align-items-center">
        {% for campo in formulario %}
        <div class="mb-3">
            <label for="" class="form-label">{{ campo.label }}</label>

            <input 
            type="{{ campo.field.widget.input_type.selected }}" 
            class="form-control" 
            name="{{ campo.name }}" 
            id="" 
            aria-describedby="helpid" 
            placeholder="{{ campo.label }}"   
            value="{{ campo.value|default:'' }}">
        </div>  
        <div class="col-12 help-text" > {{ campo.errors }} </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-8">
                <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                    Submit</button>
            </div>
            <div class="col-md-4">
                <a href="{% url 'lista' %}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fas fa-stream"></i> Back to list
                </a>
            </div>
        </div>
    
</div> 

</form>
<!---


-->
{% endblock content %}